@model AdminIPBG.Rows.RowsInvoiceData

@if ((bool?)ViewData["Printing"] == true)
{
    Layout = MVC.Views.Shared._LayoutNoNavigation;
}

<section class="invoice">
    <div class="row">
        <div class="col-md-12">
            <img src="~/Content/site/images/InvoiceHeaderPdf.png" class="img img-responsive" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>
                ПРИЕМО - ПРЕДАВАТЕЛЕН
                <br/>
                ПРОТОКОЛ
            </h2>
        </div>
    </div>
    <table style="margin-top: 50px">
        <tr>
            <td style="vertical-align: top">ОБЕКТ:</td>
            <td style="width: 85%">@Model.Object</td>
        </tr>
        
        <tr style="height: 60px;">
            <td style="">ЧАСТ:</td>
            <td>@Model.Part</td>
        </tr>
        <tr style="height: 60px;">
            <td style="">ФАЗА:</td>
            <td>@Model.Phase</td>
        </tr>
        <tr style="height: 60px;">
            <td style="">ВЪЗЛОЖИТЕЛ:</td>
            <td>@Model.Client</td>
        </tr>
        <tr style="height: 60px;">
            <td class="text-center" colspan="2">
                Днес, @Model.InvoiceDate.ToString("dd.MM.yyyy г.") получих 1 брой проект, х4 броя папки, общо 4 бр. папки
            </td>
        </tr>
    </table>
    
    <div class="row" style="margin-top: 80px; margin-right: 10px;">
        <p class="text-right">
            Предал: .......................................
            <br/>
           / @Model.UserGive /  
        </p>
    </div>
    
    <div class="row" style="margin-top: 50px;  margin-right: 10px;">
        <p class="text-right">
            Приел: .........................................
            <br/>
           / @Model.UserTake /  

        </p>
    </div>
</section>