@model AdminIPBG.Rows.RowsInvoiceData

@if ((bool?)ViewData["Printing"] == true)
{
    Layout = MVC.Views.Shared._LayoutNoNavigation;
}
<style>
    .invoice {
        font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif; 
    }
</style>
<section class="invoice" style="padding-top: 20px">
    <div class="row">
        <div class="col-md-2" style="width: 15%; display: inline-block; margin-bottom: 20px">
            <img src="data:image/png;base64,@Model.QrCodeBase64" class="img img-responsive" />
        </div>
        <div class="col-md-10" style="width: 84%; display: inline-block;">
            <img src="~/Content/site/images/InvoiceHeaderPdf.png" class="img img-responsive" />
        </div>
    </div>
    <div class="row" style="margin-top: 50px">
        <div class="col-md-12 text-center">
            <h2>
                ПРИЕМО - ПРЕДАВАТЕЛЕН
                <br />
                ПРОТОКОЛ
            </h2>
        </div>
    </div>
    <table style="margin-top: 50px; font-weight: bold;">
        <tr>
            <td style="vertical-align: top">ОБЕКТ:</td>
            <td style="width: 85%; color: darkblue !important" >@Model.Object</td>
        </tr>

        <tr style="height: 60px;">
            <td style="">ЧАСТ:</td>
            <td style="color: red !important">@Model.Part</td>
        </tr>
        <tr style="height: 60px;">
            <td style="">ФАЗА:</td>
            <td  style="color: red !important">@Model.Phase</td>
        </tr>
        <tr style="height: 60px;">
            <td style="padding-right: 10px">ВЪЗЛОЖИТЕЛ: </td>
            <td>@Model.Client</td>
        </tr>
        <tr style="height: 60px;">
            <td class="" colspan="2">

                Днес, @Model.InvoiceDate.ToString("dd.MM.yyyy г.") получих:  @*@Model.ProjectCounts брой проект, х@(Model.FoldersCount) броя папки, общо @Model.TotalCount бр. папки*@
            </td>
        </tr>
    </table>
    
    <table class="table table-striped table-bordered table-condensed">
        <thead>
        <tr class=" text-center">
            <td style="width: 10%">
                Номер
            </td>
            <td>
                Описание
            </td>
            <td>
                Част
            </td>
            <td style="width: 10%">
                Брой
            </td>
        </tr>
        </thead>
        <tbody>
        @{
            var counterDetail = 1;
            var totalQuantity = 0;
        }
        @foreach (var detail in Model.Details)
        {
            <tr class=" text-center">
                <td>
                    @counterDetail
                    @{ counterDetail++; }
                </td>
                <td>
                    @detail.Description
                </td>
                <td>
                    @detail.PartName
                </td>
                <td>
                    @detail.Quantity
                    @{ totalQuantity += detail.Quantity; }
                </td>
            </tr>
        }
        
        <tr class="text-right">
            <td colspan="4"> Общо: @totalQuantity</td>
        </tr>
        </tbody>
    </table>

    <table style="width: 100%; margin-top: 50px; margin-right: 10px;">
        <tr>
            <td class="text-center">

                Предал: ......................................
                <br />
                @if (!string.IsNullOrEmpty(Model.UserGive))
                {
                     <span>/ @Model.UserGive /</span>
                }
                else
                {
            <span>/ ........................................... /</span>
                }
            </td>
            <td class="text-center">
                Приел: .........................................
                <br />
                @if (!string.IsNullOrEmpty(Model.UserTake))
                {
                    <span>/ @Model.UserTake /</span>
                }
                else
                {
                    <span>/ ........................................... /</span>
                }
            </td>
        </tr>
    </table>
</section>